<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<h1 width="100px">JOSUE ALVARES<h1>
<title>Juventude Informa</title>
</head>
<body style="margin:0; padding:0; font-family: Trebuchet MS">
<table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <div style="display:block;width:640px;height:280px; margin:0; padding:0; list-style:none; float:left;"><img src="http://www.lbv.org.br/images/stories/bancoimagem/jembvDEUS/newsletter-jebv_01.jpg" alt="" width="640" border="0" usemap="#Map" />
        <map name="Map">
            <area shape="rect" coords="428,20,531,112" href="http://www.lbv.org.br" target="_blank" />
            <area shape="rect" coords="537,20,635,113" href="http://www.religiaodedeus.com.br" target="_blank" />
            <area shape="rect" coords="45,22,189,130" href="http://www.acaojovemlbv.com.br" />
        </map>
    </div>
    <div style="display:block;width:640px;height:auto; margin:0; padding:0; list-style:none; float:left;font-size: 13px;">
        <div align="left">Olá <strong> Altherlex</strong>, neste fim de semana jovens de todo país realizam atividades em comemoração ao dia <a href="http://www.diaglobal.org.br/" target="_blank">Global do Voluntariado Jovem </a> e a Juventude Ecumênica Militante da Boa Vontade de DEUS, como sempre, realizará muitas atividades!<b> Contamos com a sua participação!</b>
        </div><br>
    </div>
    </td>
  </tr>
  <tr>
    <td style="20px;display:inline;width:626px;height:15px;font-size:15px;font-weight:bold;color:#003300; list-style:none; float:left;">
    <img src="http://www.lbv.org.br/images/stories/bancoimagem/jembvDEUS/newsletter-jebv_05.gif" width="640" height="24" alt="">        </td>
  </tr>
  <tr>
    <td>
    <table style="display:block;width:640px;height:auto; margin:0; padding:0; list-style:none; float:left;">
      <tr style="margin-left:10px;margin-top:5px; padding:0; list-style:none;">
        <td style="width:460px;display:inline;font-size:16px;font-weight:bold;color:#006600; margin:0; padding:0; list-style:none; float:left; ">Destaque da Semana - Doação de sangue
        </td>
      <tr>
      <tr>
        <td style="width:640px; list-style:none; float:left; font-size:13px; float:left;" >
            <span style="margin:5px;width:300px;height:200px;background-color:#000000; list-style:none; float:left;"><img src="http://www.estounanet.com.br/photos/noticias/20090304_100349/doacao_sangue.jpg" width="300px" height="200px">
            </span>
            <span style="width:10px;height:auto;list-style:none; float:left;"> </span>
            <span style="margin:5px;width:305px;height:200px;list-style:none; float:left;">
                Neste <b>sábado, dia 25 de abril,</b> você pode ajudar a salvar uma vida! Quer saber como?<Br><br>
				A Juventude Militante da Boa Vontade de DEUS em um ato humanitário, irá realizar uma campanha de doação de sangue, a coleta acontecerá no Hospital das Clínicas, e você está convidado a fazer parte deste ato de amor ao próximo.

            </span>
        </td>
      </tr>
      <tr>
        <td style="width:640px; list-style:none;	 float:left; font-size:13px; float:left;" >
              <b>Informações importantes para a doação de sangue:</b><br>

			  				    * Idade entre 18 e 65 anos<br>
			  				    * Peso superior a 50 kg<br>
			  				    * Última doação há mais de 90 dias para mulheres e mais de 60 dias para homens
			  				<br><br>
			   Necessário levar: Documento de identidade com foto e dinheiro para pagar a condução<Br><br>
              <i><b>Horário:</b> 08:30</i><br>
              <i><b>Local: </b>Saída da Igreja Ecumênica da Religião de DEUS - Bom Retiro</i><br>
              <i><b>Dúvidas/informações:</b> Gabriela Marinho (gabriela.mbatisteti@hotmail.com)</i>
        </td>
      </tr>

    </table>
    </td>
  </tr>
  <tr>
    <td>
    <table style="display:block;width:640px;height:auto; margin:0; padding:0; list-style:none;">
      <tr style="margin-left:10px;margin-top:5px;width:640px; padding:0; list-style:none;">
        <td style="width:460px;display:inline;font-size:16px;font-weight:bold;color:#006600; margin:0; padding:0; list-style:none; float:left;"><span><br>E neste domingo, dia 26 de abril</span></td>
      </tr>
      <tr style="margin-left:5px;padding:0px; list-style:none;">
        <td style="display:inline;width:626px;height:77px;font-size:15px;font-weight:bold;color:#003300; list-style:none; float:left; " ><img src="http://www.lbv.org.br/images/stories/bancoimagem/jembvDEUS/atividade_campanha.gif" width="626" height="77" border="0" /></td>
      </tr>
      <tr>
        <td style="width:640px; list-style:none; float:left; font-size:13px; float:left;" >
            <span style="width:50;height:auto;list-style:none; float:left;"> </span>
            <span style="margin:5px;width:130px;height:120px;list-style:none; float:right;"><img src="http://www.boavontade.com/inc/v2/imagem.php?oid=1336330" width="110" height="120" alt="">
            </span>
            <span style="width:10px;height:auto;list-style:none; float:left;"> </span>
            <span style="width:450px;height:auto; list-style:none; float:left;">
                Você já pensou em como fazer a diferença vida de alguém?
				E refletiu como amar, o Amor do Cristo, através da Espiritualidade?<br><br>
				<b>Sim, isso é possível! </b>Através da <b>Revista Jesus Está Chegando!</b> nós alcançamos o coração das pessoas levando a mensagem do Cristo Ecumênico.
				Neste domingo temos mais uma oportunidade de participar, nos encontramos na Igreja Ecumênica da Religião de Deus.
            </span>
        </td>
      </tr>
      <tr>
      <td style="width:640px; list-style:none; float:left; font-size:13px; float:left;" >
        <span style="width:50;height:auto;list-style:none; float:left;"> </span>
        <span style="width:450px;height:auto;list-style:none; float:left;">
        <br>
            <i><b>Horário:</b> 09:00</i><br>
            <i><b>Local: </b>Igreja Ecumênica da Religião de DEUS - Bom Retiro</i><br>
            <i><b>Dúvidas/informações:</b> Angélica Periotto (angelica.periotto@boavontade.com)</i><br><br>
        </span>
      </td>
      </tr>
      <tr style="margin-left:10px;margin-top:5px;width:640px; padding:0; list-style:none;">
	  	<td style="width:460px;display:inline;font-size:16px;font-weight:bold;color:#006600; margin:0; padding:0; list-style:none; float:left;"><span><br>Ainda neste sábado, temos</span></td>
	  </tr>
      <tr style="margin-left:5px;padding:0px; list-style:none;">
        <td style="display:inline;width:626px;height:77px;font-size:15px;font-weight:bold;color:#003300; list-style:none; float:left; " ><img src="http://www.acaojovemlbv.com.br/email/1/img/atividade1.gif" width="626" height="77" border="0" /></td>
      </tr>
      <tr>
        <td style="width:640px; list-style:none; float:left; font-size:13px; float:left;" >
            <span style="width:50;height:auto;list-style:none; float:left;"> </span>
            <span style="margin:20px;width:180px;height:120px;background-color:#000000; list-style:none; float:left;"><img src="http://www.boavontade.com/inc/v2/imagem.php?oid=1290100" width="180" height="120" alt="">
            </span>
            <span style="width:10px;height:auto;list-style:none; float:left;"> </span>
            <span style="width:350px;height:auto; list-style:none; float:left;">
                Na última semana da quarta unidade temática do 34º FIJMBVDEUS, estudaremos o tom pedagógico do Apocalipse do Cristo Ecumênico, considerando a dedicação do Divino Mestre em esclarecer a Humanidade quanto a seus deveres e direitos espirituais e humanos.<br><br>
                <b>Tema:</b> [Semana 28] Apocalipse e Reeducação.
            </span>
        </td>
      </tr>
      <tr>
      <td style="width:640px; list-style:none; float:left; font-size:13px; float:left;" >
        <span style="width:50;height:auto;list-style:none; float:left;"> </span>
        <span style="width:450px;height:auto;list-style:none; float:left;">
            <i><b>Horário:</b> 14:30</i><br>
            <i><b>Local: </b>Igreja Ecumênica da Religião de DEUS - Bom Retiro</i><br>
            <i><b>Dúvidas/informações:</b> Mayla Ferreira (mayla.ferreira@boavontade.com)</i><br><br>
        </span>
      </td>
      </tr>
      <tr>
        <td style="display:inline;width:626px;height:77px;font-size:15px;font-weight:bold;color:#003300; list-style:none; float:left;"><img src="http://www.acaojovemlbv.com.br/email/1/img/atividade2.gif" width="626" height="77" border="0" /></td>
      </tr>
      <tr>
        <td style="width:640px; list-style:none; float:left; font-size:13px;  float:left;">
            <span style="width:50;height:auto;list-style:none; float:left;"> </span>
            <span style="width:350px;height:auto;list-style:none; float:left;">
                Aprofundaremos os estudos do 34º Fórum Internacional do Jovem Militante da Boa Vontade de Deus, onde vamos refletir sobre as influências da Espiritualidade Ecumênica na Educação. "É Urgente Reeducar!": essa tese, lançada Irmão Paiva Netto, é o tema do Fórum e base de nosso estudo. Por isso, no mês de Abril nós vamos continuar nos dedicando a pensar esse assunto.
            </span>
            <span style="width:10px;height:auto;list-style:none; float:left;"> </span>
            <span style="margin:5px;width:180px;height:120px;background-color:#000000; list-style:none; float:right;"><img src="http://www.lbv.org.br/images/stories/bancoimagem/jembvDEUS/newsletter-jebv-encontro.jpg" width="180" height="120" alt="">
            </span>
        </td>
      </tr>
      <tr>
        <td style="width:640px; list-style:none; float:left; font-size:13px;  float:left;">
            <span style="width:50;height:auto;list-style:none; float:left;"> </span>
            <span style="width:450px;height:auto;list-style:none; float:left;">
            <b>Tema: </b> Intolerância e segregação são empecilhos ao verdadeiro progresso humano..
            <br><br>
                <i><b>Horário:</b> 16:30</i><br>
                <i><b>Local: </b>Igreja Ecumênica da Religião de DEUS - Bom Retiro</i><br>
                <i><b>Dúvidas/informações:</b> Gabriela Marinho (gabriela.mbatisteti@hotmail.com)</i><br><br>
            </span>
        </td>
      </tr>
      <tr>
        <td style="20px;display:inline;width:626px;height:77px;font-size:15px;font-weight:bold;color:#003300; list-style:none; float:left;"><img src="http://www.acaojovemlbv.com.br/email/1/img/atividade3.gif" width="626" height="77" border="0" /></p>
        </td>
      </tr>
      <tr>
        <td style="width:640px; list-style:none; float:left; font-size:13px;">
            <span style="width:50;height:auto;list-style:none; float:left;"> </span>
            <span style="margin:5px;background-color:#000000; list-style:none; float:left;"><img border="0"src="http://www.soldadinhodedeus.com.br/icons/1238031_170x113.jpg" width="180px" height="120px" alt="">
            </span>
            <span style="width:10px;height:auto;list-style:none; float:left;"> </span>
            <span style="margin:5px;width:350px;height:auto; list-style:none; float:left;">
                Todo sábado acontecem as Aulas de Moral Ecumênica nas Igrejas da Religião Divina. Nela, os Soldadinhos de Deus tem seu espaço garantido para interagirem com os ensinamentos de Jesus, por meio de brincadeiras, debates e gincanas.
                Se você é um Jovem de Boa Vontade, atenda o Mandamento Novo do Cristo e AME! Contribua para o desenvolvimento dos Soldadinhos de Deus, Esperança do Mundo! Participe!
            </span>
         </td>
      </tr>
      <tr>
        <td style="width:550px; list-style:none; float:left; font-size:13px;">
            <span style="width:50px;height:auto;list-style:none; float:left;"> </span>
            <span style="width:450px;height:auto;list-style:none; float:left;">
            <i><b>Horário:</b> 17:00</i><br>
            <i><b>Local: </b>Igreja Ecumênica da Religião de DEUS - Bom Retiro</i><br>
            <i><b>Dúvidas/informações:</b> Tereza Ibelli (3225 4692) e Gabriela Marinho (gabriela.mbatisteti@hotmail.com)<br>
            </span>
         </td>
      </tr>

    </table>
    <div style="display:block;width:640px;height:100px; list-style:none; float:left;">
      <img src="http://www.acaojovemlbv.com.br/email/1/img/foot.gif" width="640" height="100" border="0" />
    </div>
    </td>
  </tr>
</table>
</body>
</html>
</body>
</html>
